@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** Extend BASE */

@layer base {

  /** Typography */

  #app, #root {
    @apply bg-slate-50;
    @apply min-h-full;
    @apply absolute;
    @apply inset-0;
    @apply overflow-auto;
  }
  #app.dark {
    background-color: #212026;
  }
  html, body, #app, .text-default {
    @apply text-slate-700;
  }
  #app.dark, .dark .text-default {
    @apply text-white;
  }
  .bg-default {
    @apply bg-white;
  }
  .dark .bg-default {
    background-color: #19191c;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply block;
    @apply font-extrabold;
    @apply tracking-tight;
  }

  h1 {
    @apply text-lg;
    @apply sm:text-xl;
    @apply lg:text-2xl;
    @apply uppercase;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
    @apply underline;
  }

  p {
    @apply py-2;
  }

  .mute {
    @apply text-slate-800/50;
  }
  .dark .mute {
    @apply text-slate-50/50;
  }

  .highlight {
    @apply bg-cyan-200;
  }
  .dark .highlight {
    @apply bg-cyan-800;
  }

  /* cursor-pointer text-black/75 hover:text-black dark:text-white/75 hover:dark:text-white */
  a, .hyperlink {
    @apply inline-block;
    @apply cursor-pointer;
    @apply text-slate-800/100;
    @apply dark:text-slate-50/100;
  }
  a:hover, .hyperlink:hover {
    @apply text-primary;
    @apply dark:text-primary-400;
  }

  label {
    @apply mute;
    @apply text-xs;
    @apply text-inherit;
    @apply font-normal;
    @apply no-underline;
    @apply mb-2;
  }

  .handwritten {
    font-family: 'Pangolin';
  }

  /** Elements */

  button {
    @apply bg-primary;
    @apply text-white;
    @apply flex;
    @apply items-center;
    @apply content-center;
    @apply justify-center;
    @apply p-2;
    @apply rounded;
    @apply text-sm;
    @apply gap-2;
  }
  button:hover {
    @apply transition-all;
    @apply bg-primary-400;
    @apply shadow-lg;
  }

  button.button-outline {
    @apply bg-transparent;
    @apply border;
    @apply border-primary;
    @apply text-primary;
    @apply dark:border-white;
    @apply dark:text-white;
  }
  button.button-outline:hover {
    @apply bg-primary/10;
    @apply border-primary-400;
    @apply text-primary-400;
  }

  button.button-danger {
    @apply bg-transparent;
    @apply border;
    @apply border-red-600;
    @apply text-red-600;
    @apply dark:border-red-600;
    @apply dark:text-red-600;
  }
  button.button-outline:hover {
    @apply border-red-500;
    @apply text-red-500;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    @apply text-white;
    @apply block;
    @apply w-full;
    @apply bg-white;
    @apply dark:bg-white/10;
    @apply border;
    @apply border-gray-300;
    @apply dark:border-white/25;
    @apply rounded-md;
    @apply p-2;
    @apply placeholder-gray-500;
    @apply focus:outline-none;
    @apply focus:text-gray-900;
    @apply dark:focus:text-white;
    @apply focus:placeholder-gray-400;
    @apply focus:ring-1;
    @apply focus:ring-primary-500;
    @apply focus:border-primary-500;
    @apply text-sm;
    @apply text-inherit;
    @apply font-normal;
    @apply no-underline;
  }

}

/** Other */

html, body {
  height: 100%;
  width: 100%;
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Safari hacks */

@supports (-webkit-overflow-scrolling: touch) {
   input {
     font-size: 16px;
   }
}